@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
    background-color: #151719;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    max-width: 1110px;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;

}

header a {
    color: #5D5DFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header .btn1 {
    margin-left: 51px;
}

.btn1 {
    color: #FFFF;
    background-color: #5D5DFF;
    padding: 8px 20px;
    box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

main .btn1{
    padding: 12px 32px;
}

.btn1:hover {
    background-color: #2d2d7a;
    transition: all 0.2s;
    color: #b2b0b0;
}

.btn1:active {
    background-color: #1c1c4c;
    transition: all 0.2s;
    color: #737272;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

main p {
    color: #9BA9B4;
}

main p:first-of-type {
    margin-top: 16px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}



h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 62px;
    margin-top: 108px;
    color: #D9E3EA;
}