@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;700;800&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    background-color: #151719;
    font-family: 'Inter', sans-serif;
}

header a img {
    transition: transform 0.3s ease;

}

header a:hover img {
    transform: scale(1.3);
}




.container {
    display: flex;
    max-width: 1110px;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}


.shapeclosetoup {
    position: absolute;
    max-width: 730px;
    max-height: 607px;
    top: 0;
    right: 0;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapeclosetovideo {
    position: absolute;
    max-width: 563px;
    max-height: 551px;
    left: 83px;
    top: 490px;
}

.header {
    display: flex;
    justify-content: space-between;

}

header a {
    color: #5D5DFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header .btn1 {
    margin-left: 51px;
}

.btn1 {
    color: #FFFF;
    background-color: #5D5DFF;
    padding: 8px 20px;
    box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

main .btn1 {
    padding: 12px 32px;
}

.btn1:hover {
    background-color: #2d2d7a;
    transition: all 0.2s;
    color: #b2b0b0;
}

.btn1:active {
    background-color: #1c1c4c;
    transition: all 0.2s;
    color: #737272;
}

.btn2 {
    margin-left: 12px;
    background: #33363A;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    color: #C5D2DC;
    padding: 12px 32px;
}

.btn2:hover {
    background-color: #b9b9c0;
    transition: all 0.2s;
    color: #4c4b4b;
}

.btn2:active {
    background-color: #484849;
    transition: all 0.2s;
    color: #737272;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.video {
    position: relative;
    margin-bottom: 131px;
}


.video video {
    max-width: 1024px;
    max-height: 576px;
}

.video img {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
}

.video img:hover {
    opacity: 0.2;
}

.video-loader {
    margin-top: 64px;
}

main p {
    color: #9BA9B4;
}

.h1-Description {
    margin-top: 16px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.workflow-section h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #D9E3EA;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 62px;
    margin-top: 108px;
    color: #D9E3EA;
}

.workflow-section>p:first-of-type {
    margin-top: 44px;
    margin-bottom: 52px;
    font-weight: 400;
    font-size: 20px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
}

.workflow-row {
    display: flex;
    width: 100%;
    gap: 64px;

}

.row-bottom {
    margin-top: 64px;

}

.workflow-card h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.workflow-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.separator-line {
    display: block;
    max-width: 1104px;
    height: 1px;
    margin: 80px auto;
    background-color: #33363A;
}



.One-product {
    display: flex;
    flex-direction: column;
}



.One-product h3,
.dontTake h3 {
    color: #D9E3EA;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.One-product p,
.dontTake p {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: -0.01563rem;
}

.Goals_txt {
    margin: 0 auto;
    color: #36A269;
    color: #36A269;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    border-radius: 20px;
    background: #C6F6D5;
    padding: 4px 12px 4px 12px;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
}

.moreSpeedDiv {
    display: flex;

    flex-direction: row;
    margin-top: 5rem;
}


.moreSpeedDiv picture img {
    max-width: 540px;
    max-height: 405px;
    flex-shrink: 0;
}

;




.moreSpeedpar {
    color: #5D5DFF;
    font-family: 'Architects Daughter';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.moreSpeedRight {
    margin-left: 64px;
}

.moreSpeedTextdiv {

    margin-right: 4rem;
    text-align: start;
}

.moreSpeedDiv h4 {
    color: #D9E3EA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.25px;
    margin: 8px 0px;
}

.moreSpeedDiv ul li {
    list-style-image: url(../img/Cards-icons/PathCheck.svg);
    color: #9BA9B4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
    margin-left: 20px;
}

;

.moreSpeedDiv ul {
    margin-top: 16px;
}

.moreSpeedDiv ul li {
    margin-top: 8px;
}

.reviews {
    display: flex;
    gap: 24px;
    margin-top: 80px;
}

.review {
    display: flex;
    padding: 24px;
    flex-direction: column;
    background-color: #25282C;
    text-align: start;
}

.reviewp {
    color: #9BA9B4;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
}

.avatarreview {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.avatar {
    position: relative;
    display: flex;
}

.nameandplatform {
    display: flex;

}

.blueforavtr {
    position: absolute;
    left: 37px;

}

.reviewname,
.reviewpltfrm {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.reviewname {
    color: #D9E3EA;
}

.reviewpltfrm {
    color: #5D5DFF;
}

.slash {
    color: #33363A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    margin-left: 3px;
    margin-right: 3px;
}

.rectangle {
    height: 1px;
    background: #33363A;
    margin-top: 24px;
    margin-bottom: 20px;
}

.stayloop {
    background-image: url(img/Shapes/footerShape.svg);
    background-color: #5D5DFF;
    display: flex;
    padding: 65px 48px;
    margin-top: 80px;
    text-align: start;
}

.stayloop form input[type="email"] {
    border-radius: 2px;
    border: 1px solid #8D8DFF;
    background: #4B4ACF;
    color: #ABABFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.25px;
    padding: 12px 12px 12px 16px;

}

.stayloop form button[type="submit"] {
    border-radius: 2px;
    background: #F4F4FF;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
    color: #5D5DFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.25px;
    padding: 12px 32px;
}



.staylooptxt {
    margin-right: 64px;
}

.staylooptxt h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.25px;

}

.staylooptxt p {
    color: #E2E1FF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
}

.FAQ {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footerlogo {
    text-align: start;
}

.footerlogo img {
    margin-bottom: 14px;
}

.footerlogo p {
    color: #9BA9B4;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    margin-right: 169px;
}

.footertext {
    text-align: start;
    display: flex;
    gap: 50px;
}



dt {
    color: #D9E3EA;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

dd {
    color: #9BA9B4;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.copiraits p {
    color: #9BA9B4;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.copi {
    color: #D9E3EA;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.footerfotr {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.signUpform {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

.signUpform button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.25px;
    border-radius: 2px;
    background: #5D5DFF;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    margin: 24px 0px;

    padding-top: 12px;
    padding-bottom: 12px;
}

.formcontainer {
    max-width: 401px;
    ;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 80px;
}

.signUplastp {
    color: #9BA9B4;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.signInlastp a {
    color: #5D5DFF;
}

.signUpform label {
    color: #C5D2DC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.signUpform label span {
    color: #E53D3E;
}

.igree {
    color: #707D86;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.igree span {
    color: #9BA9B4;
    text-decoration-line: underline;
}

.signUpform input {
    border-radius: 2px;
    border: 1px solid #33363A;
    color: #707D86;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    margin-bottom: 16px;
    background-color: #151719;
    padding: 12px 16px;
}

.signUpform div p {
    color: #5D5DFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.signUpform div {
    display: flex;
}

#checkboxlabel {
    margin-right: 109px;
    color: #9BA9B4;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.25px;
}

#checkboxsignin {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#checkboxsignin+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#checkboxsignin+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.20em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#checkboxsignin:checked+label::before {
    border-color: #5D5DFF;
    background-color: #5D5DFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#checkboxsignin:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

#checkboxsignin:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

#checkboxsignin:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#checkboxsignin:focus:not(:checked)+label::before {
    border-color: #323284;
}

#checkboxsignin:disabled+label::before {
    background-color: #e9ecef;
}



@media (max-width: 720px) {
    .moreSpeedDiv picture img {
        max-width: 400px;
        max-height: 302px;
        flex-shrink: 0;
    }

    ;
}


@media (max-width: 885px) {

    .moreSpeedDiv {
        flex-wrap: wrap;
    }

    .moreSpeedDiv picture {
        margin: 0 auto;
    }

    .moreSpeedTextdiv {
        text-align: center;
        margin: 50px auto;
    }

    .moreSpeedDiv picture img {
        max-width: 480px;
        max-height: 400px;
        flex-shrink: 0;
    }

    .nameandplatform p {
        font-size: 15px;
    }

    .One-product p,
    .dontTake p {
        font-size: 15px;
    }

    .reviews {
        flex-wrap: wrap
    }

    ;
}

@media (max-width: 1024px) {
    .video video {
        max-width: 820px;
        max-height: 288px;
    }
}